## Data Science Environment

-Anaconda environment and also how we use the jupyter

-We also seen in detail about the Data Science Life Cycle

1. Defing the problem_were project scope and Goals
-we Defining the KPIS-Product owner,DS, and the project Manager

2. Understanding the Data Requirments and Accessability
- DS and Data Engineers

3. Doing EDA_ Draw insights and patterns
- DS,stat and Data Analyst

4. Prepare Data- Feature Engineering/Transformation, creating new variables from the existing features

- DS
5. Train and Develop Model
-Ds,Mi EN
6. Model validation and optimization
ml,en and with Ds

7. Deploying production and utilize in any web or dashboard applications
Devops---,Mlops(DEVOPs , ML Engineers---CI/CD) & DE (Data pipline)

8. Montoring Model performance in the Production Environment

- There Model Decying - model performance degrade overtime
- There could be Data Distrubtion change by type and variance
- There is could business intrest changes

You can monitor through alert-Dash board Power bi 
- I always look at the RMSE-Root Mean Square Error, R-Square classification- Accuracy,recall,precesion,AUC curve

Todays plan
- data types - lists and tuples
- lists and list comprehension
- dictinory and sets
- looping and conditional statements
- control statements
Next Programing
- Funtions
- OOPs
- Read and write operations
- Text analysis

## Data Types
 numerical- floating,int
 
 string
 
 Boolean
 
 Complex numbers
 ### Try to compare all the date types

#integer('int')

age=25
#floats('float')
height = 1.64

complex Numbers ('complex')
z=3 + 2j

#Text data types 
#string('str')

name='Nithin'

message='Hi all Good Evening'

#Sequence Data Types
#Lists('lists') Lists are ordered collection of items that can be different data types
#lists are mutable,which means it can be changable

In [40]:
#lists of cars
car=['benz','audi','kia']

In [64]:
#Tuples('tuple') Tuples are similar to the lists but these are immutable you cannot change it after creation
coordinates= (3,4)

In [66]:
#Dictionaries('dict') Dictionaries store dats in key-value pairs.
#Eachkey is unique , and you can use it to retireve its associated values.

# Dictionaries are unordered

student_info={"name": "Nithin", "age":22}

In [68]:
###  Boolean ('bool)- binary values, True or false 
is_student=True

In [69]:
#sets('set')- Sets are unordered collection of unique elements.
# They are commonly used for operations like interction, union, merge,etc

In [5]:
# None type

results=None

In [73]:
#Bytes are used to represent binary data such as image files or network packets

binary_data=b'\x00\x01\x02'
print(binary_data)

b'\x00\x01\x02'

In [12]:
# Data abd Time Data Types
## Dates('date' and Times('time')): These Data Types are used to represent dates and time respectively


from datetime import date , time, datetime

current_date= date(2023,9,13)

current_time= time(15,30)

current_datetime=datetime(2023,9,13,15,30)

In [74]:
current_date

datetime.date(2023, 9, 13)

In [75]:
current_time

datetime.time(15, 30)

In [76]:
current_datetime

datetime.datetime(2023, 9, 13, 15, 30)

## Lists And Tuples

In [13]:
# create a list called fruits containg the names of your favorite fruits

fruits=['apple','banana','cherry']

In [63]:
# Access and print the fruit ad last elements of the fruits list.

first_fruit=fruits[0]

last_fruit=fruits[-1]

print("first fruit:", first_fruit)
print("last fruit:",last_fruit)

first fruit: apple
last fruit: grape

In [16]:
# Modfying Lists

fruits.append("grape")

In [18]:
fruits

['apple', 'banana', 'cherry', 'grape']

In [20]:
print("Modified fruit list:" , fruits)

Modified fruit list: ['apple', 'banana', 'cherry', 'grape']

In [21]:
# List slicing

selected_fruits=fruits[:3]
print("selected fruits",selected_fruits)

selected fruits ['apple', 'banana', 'cherry']

In [22]:
# List operation

numbers=list(range(1,11))
sum_numbers=sum(numbers)

In [25]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
print("sum of numbers:",sum_numbers)

sum of numbers: 55

In [24]:
# List comprehnesion

squared_numbers=[x**2 for x in numbers]
print("Squared numbers:",squared_numbers)

Squared numbers: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [26]:
# Creating Tuples
coordinates=(40.7128, -74.0006)# NY City coordinates

# accessing Tuples Elements
latitude=coordinates[0]

In [27]:
latitude

40.7128

In [36]:
longitude=coordinates[1]

In [37]:
longitude

-74.0006

In [34]:
# Tuple unpacking

person_info=("venkata",30, "sanFrancisco")

name, age , city=person_info
print("Name:", name)

print("Age:",age)

print("city:",city)

Name: venkata
Age: 30
city: sanFrancisco

In [35]:
# combing tuple
tuple1=("Alice", 25)
tuple2=("Bob" ,32)
combined_tuple=tuple1 + tuple2
print("combined tuple:",combined_tuple)

combined tuple: ('Alice', 25, 'Bob', 32)

In [42]:
# Nested Tuple
nested_tuple=((1,2),(3,4),(5,6))

print("nested tuple:",nested_tuple)

nested tuple: ((1, 2), (3, 4), (5, 6))

In [45]:
# conditional statement
#if ,else ,elif
grade=85

if grade>=60:
    print("pass")
else:
    print("Average")

pass

In [47]:
# Simple Conditional statement

age=18
if age>=18:
    print("you are an adult")
else:
    print("you are an minor")

you are an adult

In [55]:
# Ask for the user temperature value and udit
temperature = float(input("Enter the temperaturevvalue:"))
unit= input("Enter temperature uit (Celsius or Fahrenheit):").lower()

# Perform temperature converstion
if unit== "celsius":
    fahrenheit = (temperature * 9/5) + 32
    print(f"{temperature}°C is equal to {fahrenheit}°F.") 
elif unit == "fahrenheit":
    celsius = (temperature - 32) * 5/9
    print(f"{temperature}°F is equal to {celsius}°C.")
else:
    print("Invalid unit. Please enter Celsius or Fahrenheit.")

Enter the temperaturevvalue:96
Enter temperature uit (Celsius or Fahrenheit):Fahrenheit
96.0°F is equal to 35.55555555555556°C.

In [78]:
# Grading System 

score = int(input("Enter your exam score (out of 100): "))
# Assign a letter grade based on the score
if score >= 90:
    grade = "A"
elif score >= 80:
    grade = "B"
elif score >= 70:
    grade = "C"
elif score >= 60: 
    grade = "D"
else: 
    grade = "F" 
print(f"Your letter grade is: {grade}")

Enter your exam score (out of 100): 95
Your letter grade is: A

In [58]:
# Movie Ticket Cost
age = int(input("Enter your age: "))
student_id = input("Do you have a student ID? (yes/no): ").lower()
# Initial ticket price 
ticket_price = 10 
# Apply discounts based on conditions
if age < 13:
    ticket_price -= 1
elif age >= 65:
    ticket_price = 7
if student_id == "yes":
    ticket_price -= 2
print(f"Your ticket price is ${ticket_price}.")

Enter your age: 22
Do you have a student ID? (yes/no): Yes
Your ticket price is $8.

In [80]:
# Ask the user for their credit score and income
credit_score = int(input("Enter your credit score: "))
income = float(input("Enter your annual income: "))
# Define threshold values

credit_score_threshold = 700
income_threshold = 50000
# Initialize the risk category
risk_category = None
# Determine the risk category using if statements
if credit_score >= credit_score_threshold and income >= income_threshold:
    risk_category = "Low Risk" 
elif credit_score < credit_score_threshold and income < income_threshold:
    risk_category = "High Risk" 
else:
    risk_category = "Medium Risk" 
# Provide the risk assessment to the user
print(f"Based on your credit score and income, you are categorized as '{risk_category}'.")

Enter your credit score: 800
Enter your annual income: 50000
Based on your credit score and income, you are categorized as 'Low Risk'.